<aside class="flex gap-4">
  {{#each footer.social}}
  <a href="{{href}}" class="link">
    <img src="{{icon}}" alt="">
  </a>
  {{/each}}
</aside>
<nav>
  <h6 class="footer-title">Services</h6>
  <a class="link link-hover">Branding</a>
  <a class="link link-hover">Design</a>
  <a class="link link-hover">Marketing</a>
  <a class="link link-hover">Advertisement</a>
</nav>
<nav>
  <h6 class="footer-title">Company</h6>
  <a class="link link-hover">About us</a>
  <a class="link link-hover">Contact</a>
  <a class="link link-hover">Jobs</a>
  <a class="link link-hover">Press kit</a>
</nav>
<nav>
  <h6 class="footer-title">Legal</h6>
  <a class="link link-hover">Terms of use</a>
  <a class="link link-hover">Privacy policy</a>
  <a class="link link-hover">Cookie policy</a>
</nav>